# Global
.*.swp
.DS_Store
.env

# Application
web/composer.json
web/composer.lock
web/vendor/
data/

# PHPStorm
.idea/

# VSCode
.vscode/

# SSL Certs
etc/ssl/

#custom
/etc/ssh/github_rsa
/etc/php/github_rsa.pub
/web/
